doctype html
head
  link( href='href="https://fonts.googleapis.com/css?family=Lato|Raleway')
  link(rel='stylesheet' type='text/css' href='/css/style.css')
  meta(charset="utf-8")
  meta(name='vewport', content="width=device-width, initial-scale=1, user-scaleale=no")
  title Louie Adamian
body
  div.page-wrapper
    div.header
      div.img-wrapper
      h1= "Louie Adamian"
    div.body
      p
        I am a student in Cambridge, MA. I go to
        a(href='https://cambridge.nuvustudio.com' ) NuVu Studio
        where I work on projects in engineer and Design. I am interested in electrical engineering and computer programming.
    div.links
      div.github
        a(href='https://github.com/LouieAdamian') img(src="/img/GitHub.png")
