doctype html
head
  link( href='href="https://fonts.googleapis.com/css?family=Lato|Raleway')
  link(rel='stylesheet' type='text/css' href='/css/style.css')
  meta(charset="utf-8")
  meta(name='vewport', content="width=device-width, initial-scale=1, user-scaleale=no")
  title Louie Adamian
body
  div.page-wrapper
    div.header
      div.img-wrapper
          p "a"
      h1= "Louie Adamian"
    div.body
      p I am a engineer in Cambridge, MA.

    div.links
      img(src="/img/GitHub.png", alt="GitHub")
      img(src="", alt="")
