doctype html
head
  link(rel='stylesheet', href='href="https://fonts.googleapis.com/css?family=Lato|Raleway')
  meta(charset="utf-8")
  meta(name='vewport', content="width=device-width, initial-scale=1, user-scaleale=no")
  title Louie Adamian
body
  div.page-wrapper
    div.header
      img.logotype(src="/img/profile.jpg" alt="profile",width="100%" height="5%")
      h1= "Louie Adamian"
    div.body
      
    div.links
      img(src="/img/social media/GitHub-Mark-120px-plus.png", alt="GitHub")
      img(src="", alt="")
