doctype html
head
  link( href='href="https://fonts.googleapis.com/css?family=Lato|Raleway')
  link(rel='stylesheet' type='text/css' href='/css/style.css')
  meta(charset="utf-8")
  meta(name='vewport', content="width=device-width, initial-scale=1, user-scaleale=no")
  title Louie Adamian
body
  div.page-wrapper
    div.header
      img.header(src="/img/profile.jpg" alt="profile",width="100%")
      h1= "Louie Adamian"
    div.body
      p I am a engineer in Cambridge, MA.

    div.links
      img(src="/img/social media/GitHub-Mark-120px-plus.png", alt="GitHub")
      img(src="", alt="")
