body, html {
    background: #e8e5e5;
}
.page-wrapper {
    font-family: Lato, sans-serif;
    font-weight: 400;
}
.img-wrapper {
    background-image: url("/img/profile.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.body {
    font-family: Lato, sans-serif;
    font-weight: 200;
}
